.vs/RawStuff/v15/Server/sqlite3/storage.ide-wal
.vs/RawStuff/v15/Server/sqlite3/storage.ide-shm
.vs/RawStuff/v15/Server/sqlite3/storage.ide
.vs/RawStuff/v15/Server/sqlite3/db.lock
.vs/RawStuff/v15/.suo
RawInput/obj/x64/Release/RawInput.pdb
RawInput/obj/x64/Debug/RawInput.csprojAssemblyReference.cache
RawInput/obj/x64/Release/RawInput.dll
RawInput/obj/x64/Release/RawInput.csprojAssemblyReference.cache
RawInput/obj/x64/Release/RawInput.csproj.FileListAbsolute.txt
RawInput/obj/x64/Release/RawInput.csproj.CoreCompileInputs.cache
RawInput/obj/x64/Debug/RawInput.csproj.CoreCompileInputs.cache
RawInput/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RawInput/obj/x64/Debug/RawInput.pdb
RawInput/obj/x64/Debug/RawInput.dll
RawInput/obj/x64/Debug/RawInput.csproj.FileListAbsolute.txt
RawInput/obj/Debug/RawInput.csprojAssemblyReference.cache
RawInput/obj/Debug/RawInput.csproj.FileListAbsolute.txt
RawInput/obj/Debug/RawInput.csproj.CoreCompileInputs.cache
RawInput/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RawInput/obj/Debug/RawInput.pdb
RawInput/obj/Debug/RawInput.dll
RawInput/bin/
Keyboard/obj/
Keyboard/bin/
